.chevron {
  height: 80px;
  width: 110px;
  padding: 0 25px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 5%;
  background-color: #222;
  text-align: center;
  font-size: 3rem;
  z-index: 6;
  border-radius: 25px 25px 0 0;
  border: none;
  animation-name: wiggle;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.chevron svg {
  color: #a9a7a7;
}

.chevron:hover svg {
  color: #d4d1d1;
}

@keyframes wiggle {
  0% {
    padding-top: -12px;
  }

  50% {
    padding-top: 8px;
  }

  100% {
    padding-top: -12px;
  }
}

@media screen and (max-width: 840px) {
  .chevron {
    width: 70px;
    height: 50px;
    font-size: 3rem;
  }
}
