/* Landing styles */
.landing {
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  background: url("../img/nyc_background.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #cec8c8;
}

.headshot {
  margin-top: 5%;
  width: 300px;
  border-radius: 50%;
}

.text {
  margin: 5% 0;
}

.text h1,
.text h2,
.text h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin: 0;
}

.text h1 {
  font-size: 5rem;
}

.text h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 840px) {
  .landing {
    background: #bc7c9ca6;
    padding: 50px;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    color: black;
    box-sizing: border-box;
  }

  .headshot {
    width: 50vw;
    border-radius: 50%;
    margin-bottom: 5rem;
  }

  .text h1 {
    font-size: 3rem;
  }

  .text h3 {
    font-size: 1.5rem;
  }
}
