.About {
  height: 100vh;
  width: 100vw;
  background-color: #ffdccc99;
  display: flex;
  padding: 10% 15%;
  box-sizing: border-box;
}

.About .Picture {
  width: 50%;
  padding: 5% 0;
  float: left;
}

.About .Picture img {
  width: 350px;
}

.Text {
  font-family: Kalam, sans-serif;
  width: 50%;
}

.Text .Greeting {
  margin: 0;
  font-size: 40px;
}

.Text p {
  font-size: 26px;
}

.Socials {
  font-size: 30px;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.ConfettiButton {
  background-color: transparent;
  border: none;
  font-family: Kalam, sans-serif;
  color: blue;
  text-decoration: underline;
  font-size: 26px;
}

.ConfettiButton:hover {
  opacity: 0.7;
}

.ConfettiButton.Clicked {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 840px) {
  .About {
    display: block;
  }

  .About .Picture {
    display: none;
  }

  .About .Text {
    display: block;
    width: 100%;
  }

  .Text .Greeting {
    font-size: 30px;
  }

  .Text p,
  .ConfettiButton {
    font-size: 18px;
  }

  .Socials {
    width: 100%;
  }
}
